h1 {
    font-family: 'Coustard', Georgia, Times, serif;
    font-size: 59px;
    line-height: 70px;
}

.navbar-brand a {
    font-family: 'Coustard', Georgia, Times, serif;
    font-weight: lighter
}
